.box-history {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    height: 140px;
    border-radius: 5px;
    background-color: var(--primary);
    box-shadow: var(--boxshadow);
    cursor: pointer;
    position: relative;
}